.Info {
    margin-top: 33px;
}

.InfoImage {
    background-image: url('/burj.jpeg');
    height: 60vh;
    width: 100%;
    padding: 0 50px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
    box-shadow: -4px 7px 19px -8px rgba(0,0,0,0.75);
}

.Info p {
    font-weight: 500;
    font-size: 18px;
}

.Info p svg {
    font-size: 25px;
    fill: #23d366;
}

.Info p span {
    font-weight: 400;
    font-size: 15px;
}


@media only screen and (max-width: 768px){
    .InfoImage {
        display: none;
    }
}
