.FAQ {
    padding: 75px 40px;
}



.FAQHeading button {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.FAQHeading button svg {
    font-size: 25px;
}


@media only screen and (max-width: 800px)   {
    .FAQHeading button svg {
        display: none;
    }
}
