@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Helvetica Neue',sans-serif;
}

html {
  scroll-behavior: smooth;

}

.accordion-button {
  background: white;
  border: none;
  font-size: 20px;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
