.Income {
    padding: 80px 0;
}

.IncomeImage {
    background-image: url('/Income.jpeg');
    height: 58vh;
    width: 100%;
    padding: 0 50px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
    box-shadow: -4px 7px 19px -8px rgba(0,0,0,0.75);
}

.Income h1 {
    font-size: 35px;
    font-weight: 600;
}

.List {
    padding: 20px 0;
}


.List p {
    margin: 0 0 0 23px;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
}

.List p span {
    font-weight: bold;
}




@media only screen and (max-width: 768px){
    .IncomeImage {
        display: none;
    }
}
