.Opportunity {
    padding: 100px 120px;
    text-align: center;
}

.Opportunity h1 {
    font-size: 35px;
    font-weight: 600;
}


.Opportunity p {
    font-size: 20px;
    font-weight: 500;
}

.Opportunity p span {
    font-weight: bold;
}


@media only screen and (max-width: 800px) {
    .Opportunity {
        padding: 75px 40px;
    }
}
