.Projects {
    padding: 10px 0;
    text-align: right;
}

.Projects h1 {
    font-weight: 600;
    font-size: 35px;
}

.Project p {
    font-size: 15px;
}

.Project img {
    height: 270px;
    width: 320px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: -4px 7px 19px -8px rgba(0,0,0,0.75);
}

.Project img:hover {
    transition: all 0.9s;
    transform: scale(0.9);
}

.ComingSoon {
    text-align: center;
    font-size: 18px;

}

.ComingSoon button {
    padding: 15px 46px;
    background-color: #224265;
    border: none;
    font-size: 15px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}


@media only screen and (max-width: 800px)   {
    .Project h4 {
        text-align: center
    }
}
