.Projects {
    padding: 10px 0;
    text-align: right;
}

.Projects h1 {
    font-weight: 600;
    font-size: 35px;
}

.Project p {
    font-size: 12px;
}

.Project img {
    height: 300px;
    width: 350px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.Project img:hover {
    transition: all 0.9s;
    transform: scale(0.9);
}

.ComingSoon {
    text-align: center;
    font-size: 18px;
}
